@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial;
  @apply text-base;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl;
}

p {
  max-width: 80ch;
  @apply text-justify;
}

.pageSectionCompleteCenter {
  @apply flex flex-col justify-center items-center text-center;
}

a:visited {
  @apply text-myPurple;
}

a:link, header a:visited {
  @apply text-myGray;
}